{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
    {{ title }} | Flask App #感觉不是太理解这个 | , 好像是正则里面的  or
    {% else %}
    Flask App
    {% endif %}
{% endblock  %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}

    {#    #注册成功后显示的信息#}
    <div class="container">
{#    {% with messages = get_flashed_messages(with_categories=True) %}#}
    {% for category, message in get_flashed_messages(with_categories=True) %}

        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor  %}

    <div class="container">
        {% block app_content %}
        {% endblock %}
    </div>
{#    {% endwith %}#}

{% endblock content %}